<section ng-show="state === 'cartable'">
    <h2 class="main-title">کارتابل آگهی ها</h2>
    <button class="btn btn-success btn-circle pull-left" ng-click="main.changeState.add();"><i class="fa fa-plus"></i></button>
    <div class="card">
        <div class="card-header">
            <div class="pull-left" title="جست و جو" ng-click="search.searchPanel = !search.searchPanel"><i class="fa fa-search" aria-hidden="true"></i></div>
        </div>
        <div class="card-body" ng-show="search.searchPanel">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">نوع سند</label>
                        <select class="form-control" ng-model="search.Model.DocumentType">
                            <option ng-repeat="row in search.DocumentType" ng-value="row.Model">{{row.Name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">نوع کف</label>
                        <select class="form-control" ng-model="search.Model.FloorCoveringType">
                            <option ng-repeat="row in search.FloorCoveringType" ng-value="row.Model">{{row.Name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">متراژ</label>
                        <input type="number" class="form-control" ng-model="search.Model.Meter" />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">قیمت</label>
                        <input type="number" class="form-control" ng-model="search.Model.OrginalPrice" />
                    </div>
                </div>
            </div>
            <div class="btn-group-justified pull-left">
                <button type="button" class="btn btn-primary" ng-click="grid.getlist();">جست و جو</button>
                <button type="button" class="btn btn-cancel" ng-click="search.clear();">پاک کردن</button>
            </div>
        </div>
    </div>
    <portal-grid obj="grid"></portal-grid>
</section>
<section ng-show="['add','edit'].indexOf(state) !== -1">
    <h2 class="main-title" ng-show="state === 'add'">افزودن آگهی</h2>
    <h2 class="main-title" ng-show="state === 'edit'">ویرایش آگهی</h2>
    <div class="card-body">
        <div id="ProductError" ng-show="Model.Errors.length" class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <ul ng-repeat="row in Model.Errors">
                <li>{{row}}</li>
            </ul>
        </div>
        <div class="form-horizontal">

            <uib-tabset class="form-tab" style="padding:10px" type="pills" active="main.tabNumber">
                <uib-tab index="1" ng-click="mai.tabNumber = 1" heading="اطلاعات کلی آگهی">
                    <div class="form-group">
                        <div class="col-md-10">
                            <label for="Name" class="control-label">نام آگهی</label>
                            <input type="text" class="form-control" required ng-model="Model.Title" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="Category" class="control-label">نوع ملک</label>
                                <select class="form-control" ng-model="Model.ProductType">
                                    <option ng-repeat="row in ProductType" ng-value="row.Model">{{row.Name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="Category" class="control-label">نوع سند</label>
                                <select class="form-control" ng-model="Model.DocumentType">
                                    <option ng-repeat="row in DocumentType" ng-value="row.Model">{{row.Name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="Category" class="control-label">استان</label>
                                <select class="form-control" ng-model="Model.ProvinceType" ng-change="ProvinceChange();">
                                    <option ng-repeat="row in ProvinceType" ng-value="row.Model">{{row.Name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="Category" class="control-label">شهرستان</label>
                                <select class="form-control" ng-model="Model.SectionID">
                                    <option ng-repeat="row in sectionList" ng-value="row.Model">{{row.Name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="Category" class="control-label">نوع فروش</label>
                                <select class="form-control" ng-model="Model.SellingProductType">
                                    <option ng-repeat="row in SellingProductType" ng-value="row.Model">{{row.Name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="Category" class="control-label">نوع کف</label>
                                <select class="form-control" ng-model="Model.FloorCoveringType">
                                    <option ng-repeat="row in FloorCoveringType" ng-value="row.Model">{{row.Name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label class="control-label">متراژ</label>
                            <input type="text" ng-model="Model.Meter" class="form-control" />
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">تعداد اتاق خواب</label>
                            <input type="text" ng-model="Model.CountRoom" class="form-control" />
                        </div>
                        <div class="col-md-3" ng-show="Model.SellingProductType === 1">
                            <label class="control-label">قیمت</label>
                            <input type="text" ng-model="Model.OrginalPrice" class="form-control" />
                        </div>
                        <div class="col-md-3" ng-show="Model.SellingProductType === 2 || Model.SellingProductType === 3">
                            <label class="control-label">رهن</label>
                            <input type="text" ng-model="Model.PrePayment" class="form-control" />
                        </div>
                        <div class="col-md-3" ng-show="Model.SellingProductType === 2 || Model.SellingProductType === 3">
                            <label class="control-label">اجاره</label>
                            <input type="text" ng-model="Model.Rent" class="form-control" />
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">عمر ساختمان</label>
                            <input type="text" ng-model="Model.YearOfConstruction" class="form-control" />
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">شماره تماس</label>
                            <input type="text" ng-model="Model.PhoneContact" class="form-control" />
                        </div>
                    </div>
                    <div class="container mt-2 p-4">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="Enabled" class="control-label text-danger">آگهی مورد نظر در سایت قرار گیرد؟</label>
                            </div>
                            <div class="col-xs-4">
                                <div class="d-inline">
                                    <input type="radio" id="EnabledYes" ng-model="Model.Enabled" ng-value="true"><span class="p-1">بله</span>
                                    <input type="radio" id="EnabledNo" ng-model="Model.Enabled" ng-value="false"><span class="p-1">خیر</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="2" ng-click="mai.tabNumber = 2" heading="اطلاعات اصلی آگهی">
                    <div class="container mt-2 p-4" style="line-height:30px;">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="HasWater" class="control-label">ملک مورد نظر دارای <span class="text-danger">آب</span> می باشد؟</label>
                            </div>
                            <div class="col-xs-4">
                                <div class="d-inline">
                                    <input type="radio" id="HasWaterYes" ng-model="Model.HasWater" ng-value="true"><span class="p-1">بله</span>
                                    <input type="radio" id="HasWaterNo" ng-model="Model.HasWater" ng-value="false"><span class="p-1">خیر</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="HasGas" class="control-label">ملک مورد نظر دارای <span class="text-danger">گاز</span> می باشد؟</label>
                            </div>
                            <div class="col-xs-4">
                                <div class="d-inline">
                                    <input type="radio" id="HasGasYes" ng-model="Model.HasGas" ng-value="true"><span class="p-1">بله</span>
                                    <input type="radio" id="HasGasNo" ng-model="Model.HasGas" ng-value="false"><span class="p-1">خیر</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="HasElectricity" class="control-label">ملک مورد نظر دارای <span class="text-danger">برق</span> می باشد؟</label>
                            </div>
                            <div class="col-xs-4">
                                <div class="d-inline">
                                    <input type="radio" id="HasElectricityYes" ng-model="Model.HasElectricity" ng-value="true"><span class="p-1">بله</span>
                                    <input type="radio" id="HasElectricityNo" ng-model="Model.HasElectricity" ng-value="false"><span class="p-1">خیر</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="HasElevator" class="control-label">ملک مورد نظر دارای <span class="text-danger">آسانسور</span> می باشد؟</label>
                            </div>
                            <div class="col-xs-4">
                                <div class="d-inline">
                                    <input type="radio" id="HasElevatorYes" ng-model="Model.HasElevator" ng-value="true"><span class="p-1">بله</span>
                                    <input type="radio" id="HasElevatorNo" ng-model="Model.HasElevator" ng-value="false"><span class="p-1">خیر</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="HasPhone" class="control-label">ملک مورد نظر دارای <span class="text-danger">تلفن</span> می باشد؟</label>
                            </div>
                            <div class="col-xs-4">
                                <div class="d-inline">
                                    <input type="radio" id="HasPhoneYes" ng-model="Model.HasPhone" ng-value="true"><span class="p-1">بله</span>
                                    <input type="radio" id="HasPhoneNo" ng-model="Model.HasPhone" ng-value="false"><span class="p-1">خیر</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="HasJacuzzi" class="control-label">ملک مورد نظر دارای <span class="text-danger">جکوزی</span> می باشد؟</label>
                            </div>
                            <div class="col-xs-4">
                                <div class="d-inline">
                                    <input type="radio" id="HasJacuzziYes" ng-model="Model.HasJacuzzi" ng-value="true"><span class="p-1">بله</span>
                                    <input type="radio" id="HasJacuzziNo" ng-model="Model.HasJacuzzi" ng-value="false"><span class="p-1">خیر</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="HasBalcony" class="control-label">ملک مورد نظر دارای <span class="text-danger">بالکن</span> می باشد؟</label>
                            </div>
                            <div class="col-xs-4">
                                <div class="d-inline">
                                    <input type="radio" id="HasBalconyYes" ng-model="Model.HasBalcony" ng-value="true"><span class="p-1">بله</span>
                                    <input type="radio" id="HasBalconyNo" ng-model="Model.HasBalcony" ng-value="false"><span class="p-1">خیر</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="HasConferenceHall" class="control-label">ملک مورد نظر دارای <span class="text-danger">سالن کنفرانس</span> می باشد؟</label>
                            </div>
                            <div class="col-xs-4">
                                <div class="d-inline">
                                    <input type="radio" id="HasConferenceHallYes" ng-model="Model.HasConferenceHall" ng-value="true"><span class="p-1">بله</span>
                                    <input type="radio" id="HasConferenceHallNo" ng-model="Model.HasConferenceHall" ng-value="false"><span class="p-1">خیر</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="HasGuard" class="control-label">ملک مورد نظر دارای <span class="text-danger">نگهبان</span> می باشد؟</label>
                            </div>
                            <div class="col-xs-4">
                                <div class="d-inline">
                                    <input type="radio" id="HasGuardYes" ng-model="Model.HasGuard" ng-value="true"><span class="p-1">بله</span>
                                    <input type="radio" id="HasGuardNo" ng-model="Model.HasGuard" ng-value="false"><span class="p-1">خیر</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="HasLobby" class="control-label">ملک مورد نظر دارای <span class="text-danger">لابی</span> می باشد؟</label>
                            </div>
                            <div class="col-xs-4">
                                <div class="d-inline">
                                    <input type="radio" id="HasLobbyYes" ng-model="Model.HasLobby" ng-value="true"><span class="p-1">بله</span>
                                    <input type="radio" id="HasLobbyNo" ng-model="Model.HasLobby" ng-value="false"><span class="p-1">خیر</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="HasParking" class="control-label">ملک مورد نظر دارای <span class="text-danger">پارکینگ</span> می باشد؟</label>
                            </div>
                            <div class="col-xs-4">
                                <div class="d-inline">
                                    <input type="radio" id="HasParkingYes" ng-model="Model.HasParking" ng-value="true"><span class="p-1">بله</span>
                                    <input type="radio" id="HasParkingNo" ng-model="Model.HasParking" ng-value="false"><span class="p-1">خیر</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="HasSauna" class="control-label">ملک مورد نظر دارای <span class="text-danger">سونا</span> می باشد؟</label>
                            </div>
                            <div class="col-xs-4">
                                <div class="d-inline">
                                    <input type="radio" id="HasSaunaYes" ng-model="Model.HasSauna" ng-value="true"><span class="p-1">بله</span>
                                    <input type="radio" id="HasSaunaNo" ng-model="Model.HasSauna" ng-value="false"><span class="p-1">خیر</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="HasAirConditioning" class="control-label">ملک مورد نظر دارای <span class="text-danger">تهویه مطبوع</span> می باشد؟</label>
                            </div>
                            <div class="col-xs-4">
                                <div class="d-inline">
                                    <input type="radio" id="HasAirConditioningYes" ng-model="Model.HasAirConditioning" ng-value="true"><span class="p-1">بله</span>
                                    <input type="radio" id="HasAirConditioningNo" ng-model="Model.HasAirConditioning" ng-value="false"><span class="p-1">خیر</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="HasSportsHall" class="control-label">ملک مورد نظر دارای <span class="text-danger">سالن ورزش</span> می باشد؟</label>
                            </div>
                            <div class="col-xs-4">
                                <div class="d-inline">
                                    <input type="radio" id="HasSportsHallYes" ng-model="Model.HasSportsHall" ng-value="true"><span class="p-1">بله</span>
                                    <input type="radio" id="HasSportsHallNo" ng-model="Model.HasSportsHall" ng-value="false"><span class="p-1">خیر</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="HasRemoteDoor" class="control-label">ملک مورد نظر دارای <span class="text-danger">درب ریموت</span> می باشد؟</label>
                            </div>
                            <div class="col-xs-4">
                                <div class="d-inline">
                                    <input type="radio" id="HasRemoteDoorYes" ng-model="Model.HasRemoteDoor" ng-value="true"><span class="p-1">بله</span>
                                    <input type="radio" id="HasRemoteDoorNo" ng-model="Model.HasRemoteDoor" ng-value="false"><span class="p-1">خیر</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="HasSwimmingPool" class="control-label">ملک مورد نظر دارای <span class="text-danger">استخر</span> می باشد؟</label>
                            </div>
                            <div class="col-xs-4">
                                <div class="d-inline">
                                    <input type="radio" id="HasSwimmingPoolYes" ng-model="Model.HasSwimmingPool" ng-value="true"><span class="p-1">بله</span>
                                    <input type="radio" id="HasSwimmingPoolNo" ng-model="Model.HasSwimmingPool" ng-value="false"><span class="p-1">خیر</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="HasCentralAntenna" class="control-label">ملک مورد نظر دارای <span class="text-danger">آنتن مرکزی</span> می باشد؟</label>
                            </div>
                            <div class="col-xs-4">
                                <div class="d-inline">
                                    <input type="radio" id="HasCentralAntennaYes" ng-model="Model.HasCentralAntenna" ng-value="true"><span class="p-1">بله</span>
                                    <input type="radio" id="HasCentralAntennaNo" ng-model="Model.HasCentralAntenna" ng-value="false"><span class="p-1">خیر</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3" ng-show="Model.HasPhone">
                            <label class="control-label">تعداد خط تلفن</label>
                            <input type="text" ng-model="Model.CountPhone" class="form-control" />
                        </div>
                        <div class="col-md-3" ng-show="Model.HasParking">
                            <label class="control-label">تعداد پارکینگ</label>
                            <input type="text" ng-model="Model.CountPhone" class="form-control" />
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="3" ng-click="mai.tabNumber = 3" heading="بررسی تخصصی آگهی">
                    <div class="form-group">
                        <div class="col-md-12">
                            <textarea froala="froalaOption" class="form-control" ng-model="Model.Description" name="Description" ng-required="false"></textarea>
                        </div>

                    </div>
                </uib-tab>
                <uib-tab index="4" ng-click="mai.tabNumber = 4" heading="افزودن تصاویر آگهی">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <portal-upload main="attachment"
                                               pic="pic"></portal-upload>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
    <div class="btn-group-justified pull-left mb-5">
        <button type="button" class="btn btn-primary" ng-click="editProduct();" ng-if="state === 'edit'">ویرایش</button>
        <button type="button" class="btn btn-success" ng-click="addProduct();" ng-if="state === 'add'">ثبت</button>
        <button type="button" class="btn btn-cancel" ng-click="main.changeState.cartable();">بازگشت</button>
    </div>
</section>

