<section ng-show="state ==='cartable'">
    <h2 class="main-title">کارتابل مدیریت نظرات محصولات</h2>
    <portal-grid obj="grid"></portal-grid>
</section>

<section ng-show="['add','edit'].indexOf(state) !== -1">
    <h2 class="main-title" ng-show="state ==='add'">افزودن</h2>
    <h2 class="main-title" ng-show="state ==='edit'">ویرایش</h2>
    <div class="card-body form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                <label for="CategorySub" class="control-label">نظر</label>
                <textarea froala="froalaOptionComment" class="form-control" ng-model="Model.Body" name="body" ng-required="false"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <label for="CategorySub" class="control-label">وضعیت نظر</label>
                <select class="form-control" ng-model="Model.CommentType">
                    <option ng-repeat="row in selectCommentType" ng-value="row.Model">{{row.Name}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="btn-group-justified pull-left mb-5">
        <button type="submit" ng-click="editComment()" class="btn btn-primary">ویرایش</button>
        <button type="button" ng-click="main.changeState.cartable();" class="btn btn-cancel">بازگشت</button>
    </div>
</section>


<toaster-container toaster-options="{'position-class': 'toast-top-center', 'newest-ontop': 'false'}"></toaster-container>
