<section ng-show="state === 'cartable'">
    <button class="btn btn-success btn-circle pull-left" ng-click="main.changeState.add();"><i class="fa fa-plus"></i></button>
    <portal-grid obj="grid"></portal-grid>
</section>
<section ng-show="['add','edit'].indexOf(state) !== -1">
    <h2 class="main-title" ng-show="state === 'add'">اضافه کردن</h2>
    <h2 class="main-title" ng-show="state === 'edit'">ویرایش کردن</h2>
    <div class="card-body">
        <form class="form-horizontal" novalidate name="faqGroupAdd">
            <div class="form-group">
                <label for="CategorySub" class="control-label">نام دسته بندی</label>
                <div class="col-md-12">
                    <input type="text" class="form-control" required ng-model="Model.Title" />
                </div>
            </div>
        </form>
        <div class="container" ng-if="Model.ID">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <span class="card-title">مدیریت سوالات</span>
                            <span ng-click="openModalFaq();" class="btn btn-outline-info  pull-left mt-1"><i class="fa fa-plus"></i></span>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table st-safe-src="faq" st-table="grid" class="table table-striped table-bordered table-condensed table-hover th-center td-center">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th st-sort="isShow">دسته بندی سوال</th>
                                            <th>عملیات</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="row in faq">
                                            <td>{{$index + 1}}</td>
                                            <td>{{row.Question}}</td>
                                            <td>
                                                <div class="btn-group" dropdown is-open="false">
                                                    <button ng-click="select(row);" class="btn btn-primary"><i class="fa fa-plus"></i></button>
                                                </div>
                                                <button class="btn btn-danger" ng-click="DeleteCategory(row)">
                                                    <i class="fa fa-trash-o"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-group-justified pull-left mb-5">
        <button class="btn btn-success" type="submit" ng-show="state === 'add'" ng-disabled="faqGroupAdd.$invalid" ng-click="addFaqGroup()">ثبت</button>
        <button class="btn btn-primary" type="submit" ng-show="state === 'edit'" ng-disabled="faqGroupAdd.$invalid" ng-click="editFaqGroup()">ویرایش</button>
        <button class="btn btn-cancel" type="submit" ng-click="main.changeState.cartable();">بازگشت</button>
    </div>
</section>

<script type="text/ng-template" id="faq.html">
    <div class="modal-content" dir="rtl">
        <div class="modal-header">
            <h3 class="modal-title">اضافه کردن سوال برای <span class="text-danger">{{faqgroup.Title}}</span></h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" novalidate name="faqAdd">
                <div class="form-group">
                    <label for="CategorySub" class="control-label">سوال</label>
                    <div class="col-md-12">
                        <input type="text" class="form-control" required ng-model="Model.Question" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="CategorySub" class="control-label">پاسخ</label>
                    <div class="col-md-12">
                        <textarea class="form-control" required ng-model="Model.Answer" cols="5" rows="5" />
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer pull-left">
            <button class="btn btn-success" ng-show="state === 'add'" ng-click="add();">ثبت</button>
            <button class="btn btn-primary" ng-show="state === 'edit'" ng-click="edit();">ویرایش</button>
            <button class="btn btn-cancel" ng-click="cancel()">انصراف</button>
        </div>
    </div>

</script>
<toaster-container toaster-options="{'position-class': 'toast-top-center', 'newest-ontop': 'false'}"></toaster-container>
