<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="AccessTokenExpireTimeSpan" value="60" />
  <add key="ApplicationID" value="DB3E73B7-4D80-4DAF-8F2B-DE4626C78EBF" />
</appSettings>