@model FM.Portal.Core.Model.LoginVM
<!--================login_part Area =================-->
@section BodySection{
    <section class="row">
        <div class="col-md-7">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-7 mx-auto">
                        <div class="card card-signin my-5">
                            <div class="card-body">
                                <h5 class="card-title text-center">صفحه ورود</h5>
                                <form class="form-horizontal" id="loginform">
                                    <div class="form-group">
                                        <label for="Title" class="control-label">نام کاربری</label>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control" id="Username" required value="" placeholder="نام کاربری را وارد نمایید">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="Title" class="control-label">رمز عبور</label>
                                        <div class="col-md-12">
                                            <input type="password" class="form-control" id="Password" required value="" placeholder="رمز عبور را وارد نمایید">
                                        </div>
                                    </div>
                                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">ورود</button>
                                    <a href="@Url.RouteUrl("SignUp")" class="btn btn-lg btn-default btn-block">
                                        <i class="fa fa-user"></i>
                                        ایجاد حساب جدید
                                    </a>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <img src="~/Content/img/login.jpg" class="img-responsive w-100" />
        </div>
    </section>
}
<!--================login_part end =================-->


@section scripts{
    <script>
        (() => {
            var loginform = $('#loginform');
            loginform.submit(function (e) {
                e.preventDefault();
                $.ajax({
                    url: '/account/login',
                    type: 'POST',
                    data: {
                        username: $('#Username').val(),
                        password: $('#Password').val()
                    },

                    success: function (data) {
                        if (data.status) {
                            if (data.type == 2) {
                                if (data.url !== null)
                                    window.location.href = data.url;
                                else
                                    window.location.href = '/home/index';
                            } else {
                                localStorage.setItem('access_token', data.token.Access_Token);
                                localStorage.setItem('userid', data.userid);
                                localStorage.setItem('type', data.type);
                                localStorage.setItem('refresh_token', data.token.Refresh_Token);
                                window.location.href = '/admin';
                            }

                        }


                        else
                            alert('خطا');
                    },
                    error: function () {
                        alert("خطا در ورود");
                    }
                });
            })
        })();
    </script>
}