<section ng-show="state ==='cartable'">
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <button class="btn btn-outline-primary" ng-click="getExcel();" title="خروجی اکسل">
                    <i class="fa fa-file-excel-o text-info"></i>
                    خروجی اکسل
                </button>
            </div>
        </div>
    </div>
    <portal-grid obj="grid"></portal-grid>
</section>
<section ng-show="state ==='view'">
    <h2 class="main-title">مشاهده جزئیات خرید مشتری</h2>
    <div class="card-body" id="factor">
        <div class="card">
            <div class="card-header">
                <span class="card-title">اطلاعات مشتری</span>
            </div>
            <div class="card-body form-horizontal">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">نام و نام خانوادگی</label>
                                <span class="text-success">{{Model.User.FirstName}} {{Model.User.LastName}}</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">تلفن همراه</label>
                                <span class="text-success">{{Model.User.CellPhone}}</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">پست الکترونیکی</label>
                                <span class="text-success">{{Model.User.Email === null ? '-' :Model.User.Email }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">آدرس</label>
                                <span class="text-success">{{Model.UserAddress.Address}}</span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">کد پستی</label>
                                <span class="text-success">{{Model.UserAddress.PostalCode}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <span class="card-title">اطلاعات محصول</span>
            </div>
            <div class="card-body form-horizontal">
                <table class="table table-responsive table-bordered text-center">
                    <thead>
                        <tr>
                            <td>ردیف</td>
                            <td>نام محصول</td>
                            <td>قیمت</td>
                            <td>نوع تخفیف</td>
                            <td>مبلغ تخفیف</td>
                            <td>تعداد</td>
                            <td>قیمت نهایی</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in Model.Products">
                            <td>{{$index + 1}}</td>
                            <td>{{row.Name}}</td>
                            <td>{{row.Price}}</td>
                            <td>{{ row.DiscountName === "" ? '-' : row.DiscountName }}</td>
                            <td>{{row.DiscountAmount}}</td>
                            <td>{{row.CountSelect}}</td>
                            <td>{{(row.Price - row.DiscountAmount) * row.CountSelect}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <span class="card-header">اطلاعات فروشنده</span>
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group">
                                <label class="control-label">آدرس</label>
                                <span class="text-success">{{Model.UserAddress.Address}}</span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">محل مهر فروشگاه</label><br />
                            <label class="control-label">{{Model.Payment.CreationDatePersian}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="btn-group-justified pull-left">
            <button type="button" class="btn btn-primary" ng-click="print('factor');">چاپ فاکتور</button>
            <button type="button" class="btn btn-cancel" ng-click="main.changeState.cartable();">بازگشت</button>
        </div>
    </div>
</section>
<toaster-container toaster-options="{'position-class': 'toast-top-center', 'newest-ontop': 'false'}"></toaster-container>
