@section BannerSection{
    @*@{Html.RenderAction("RenderSlide", "Home");*@}

@section BodySection{
    <div class="row">
        <div class="col-md-9 mt-2">
            @{Html.RenderAction("HomeProduct", "Home");}
            @{Html.RenderAction("ShopProduct", "Home");}
        </div>
        <div class="col-md-3 mt-2">
            @{ Html.RenderAction("GetLastArticle", "Home");}
            @*@{ Html.RenderAction("GetLastNews", "Home");}
            @{ Html.RenderAction("GetLastEvents", "Home");}*@
        </div>
    </div>
}