<div ng-show="state ==='cartable'">
    <h2 class="main-title">کارتابل جایگاه سازمانی</h2>
    <div class="form-group">
        <div class="col-md-10">
            <label class="control-label">انتخاب دپارتمان</label>
            <select class="form-control" ng-model="department.Model.DepartmentID" ng-change="departmentChange();">
                <option ng-repeat="row in department.departmentDropDown" ng-value="row.ID">{{row.Name}}</option>
            </select>
        </div>
    </div>
    <div class="card" ng-show="listPositions.length">
        <div class="card-header">
            <a  href="" ng-click="changeState.add()" class="btn btn-success">افزودن جایگاه سازمانی جدید</a>
        </div>
        <div class="card-body">
            <table class="table table-light">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>اطلاعات کاربر</th>
                        <th>عملیات</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in listPositions">
                        <th>{{$index + 1}}</th>
                        <th>{{row.UserInfo}}</th>
                        <th>
                            <i class="fa fa-edit m-1" title="ویرایش"></i>
                            <i class="fa fa-key m-1" title="تغییر رمز عبور"></i>
                            <i class="fa fa-trash-o m-1" title="حذف"></i>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<section ng-if="['add','edit'].indexOf(state)!== -1">
    <span class="main-title" ng-show="state ==='add'">افزودن جایگاه سازمانی</span>
    <span class="main-title" ng-show="state ==='edit'">ویرایش جایگاه سازمانی</span>
    <div class="card">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div ng-show="Model.Errors.length" class="alert alert-danger">
                            <ul ng-repeat="row in Model.Errors">
                                <li>{{row}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row form-inline">
                    <div class="form-group">
                        <label for="nationalCode" class="control-label mr-sm-2">کد ملی</label>
                        <input type="text" ng-model="Model.NationalCode" class="form-control mb-2 mr-sm-2" />
                    </div>
                    <button type="button" class="btn btn-outline-primary mb-2" ng-click="searchNationalCode();">جست و جو</button>
                </div>
            </div>
            <div class="container mt-3" ng-show="search===true">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <span class="card-title">نتیجه جست و جو</span>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <td>نام</td>
                                            <td>نام خانوادگی</td>
                                            <td>کد ملی</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{ResultSearch.FirstName}}</td>
                                            <td>{{ResultSearch.LastName}}</td>
                                            <td>{{ResultSearch.NationalCode}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="container mt-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <span class="card-title">لیست نقش ها</span>
                            </div>
                            <div class="card-body">
                                <div ng-repeat="row in listRole">
                                    <div class="form-check">
                                        <input type="checkbox" checklist-model="selectCommand.selected" class="form-check-input" checklist-value="row.ID">
                                        <label class="form-check-label">{{row.Name}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="btn-group-justified pull-left">
                <button type="button" class="btn btn-success" ng-click="addPosition();">ثبت</button>
            </div>

        </div>
    </div>
</section>

<toaster-container toaster-options="{'position-class': 'toast-top-center', 'newest-ontop': 'false'}"></toaster-container>

