<!--<div class="card-header">
    <h3 class="main-title" ng-show="video.allowMultiple">آپلود ویدیو</h3>
    <h3 class="main-title"  ng-show="!video.allowMultiple">آپلود ویدیو</h3>
</div>-->

<div class="container">
    <div class="row">
        <div class="col-md-12" ng-show="(video.allowMultiple === false && main.listVideoUploaded.length === 0) || video.allowMultiple">
            <div class="upload-text">
                <!--<div class="card-header">
                    <span class="main-title">آپلود</span>
                </div>-->

                <file-pond config="filePondConfig"></file-pond>
            </div>
        </div>
        <div class="col-md-12" ng-if="main.listVideoUploaded.length">

            <span class="main-title">ویدیوهای بارگذاری شده</span>

            <div class="ml-2 mt-2 d-sm-inline-block" ng-repeat="row in main.listVideoUploaded track by $index" style="width: 10rem;">
                <div class="embed-responsive embed-responsive-16by9">
                    <video>
                        <source src="../../../../../Content/TemporaryFiles/video/{{row.FileName}}" type="video/mp4" />
                    </video>

                    <div class="pull-left">
                        <i class="fa fa-close" ng-click="removeVideo(row)" ng-show="(row.Type !== 1)"></i>
                        <span class="text-danger" ng-show="row.Type === 1">ویدیو اصلی</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade upload-delete-video" dir="rtl"
     tabindex="-1"
     role="dialog"
     aria-labelledby="uploadDeleteVideoLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" dir="rtl">
            <div class="modal-header">
                <h3 class="modal-title">تایید حذف</h3>
            </div>
            <div class="modal-body">
                <p>
                    آیا از حذف اطمینان دارید ؟
                </p>
            </div>
            <div class="modal-footer pull-left">
                <button class="btn btn-danger" ng-click="confirmRemoveVideo()">تایید</button>
                <button class="btn btn-default" data-dismiss="modal">انصراف</button>
            </div>
        </div>
    </div>
</div>